@media screen and (max-width: 1366px) {
    .scroll-explore {
        bottom: 15px;
    }
    .scroll-explore .logo {
        margin-bottom: 27px;
        margin-top: 14px;
    }
}

@media screen and (max-width: 1200px) {
    .icon.hamburger {
        display: block;
    }
    #secondary-nav.sticky {
        height: 60px;
    }
    #secondary-nav ul li {
        display: none;
    }
    #secondary-nav.sticky .logo {
        display: block;
        margin-left: 25px;
        letter-spacing: 8px;
        line-height: 60px;
        font-size: 10px;
    }
    #primary-nav {
        height: 126px;
    }
    #home nav ul,
    .lang-switch {
        display: none;
    }
    nav .register {
        top: 62px;
        right: 50%;
        margin-right: -137px;
    }
    nav a.logo {
        font-size: 15px;
        line-height: 1.2;
        letter-spacing: 4.2px;
        margin-top: 22px;
    }
}


/* ----------- Tablet ----------- */


/* Portrait and Landscape */

@media only screen and (max-width: 1024px) {}


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}


/* ----------- Mobile ----------- */


/* Portrait and Landscape */

@media screen and (max-width: 568px) {
    #contact-1 {
        padding-bottom: 12px;
    }
    #contact-1 ul li {
        margin-bottom: 45px;
    }
    #contact-1 .logo {
        margin-bottom: 50px;
    }
    p,
    #features ul {
        font-size: 12px;
        line-height: 2.1;
    }
    #gallery-next,
    #gallery-prev {
        width: 40px;
        height: 40px;
        font-size: 22px;
        line-height: 40px;
    }
    #features .sub-title {
        font-size: 15px;
        margin-bottom: 24px;
        margin-top: 0;
    }
    #wrapper > section {
        padding-bottom: 40px;
    }
    #wrapper #contact {
        padding-bottom: 150px;
    }
    #agent .contact {
        display: inline-block;
        position: relative;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        left: 50%;
    }
    #agent .contact li {
        width: auto;
        float: none;
        margin-bottom: 15px;
    }
    #agent .quote {
        font-size: 18px;
    }
    #features .sidebar li {
        margin: 0 auto;
        margin-bottom: 25px;
        width: 260px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }
    #features .sidebar.right li {
        margin-bottom: 40px;
    }
    #features .sidebar li > div {
        display: inline-block;
        text-align: left;
    }
    #features .sidebar .icon {
        width: 100px;
        float: left;
        margin-bottom: 0;
        padding-right: 10px;
    }
    .location-features .icon {
        float: left;
        width: 100px;
        text-align: center;
        margin: 0;
    }
    .location-features li {
        width: 260px;
        margin: 0 auto;
        float: none;
        text-align: left;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 25px;
    }
    .location-features li:last-child {
        margin-bottom: 0;
    }
    .location-features > div {}
    #features .sidebar .icon-email {
        font-size: 20px;
    }
    #features .sidebar .title,
    #features .sidebar .value {
        text-align: left;
    }
    #features .sidebar .value {}
    .section-title,
    #contact-2 .register-my-interest .title {
        font-size: 28px;
        line-height: 1.4;
        letter-spacing: 1.3px;
    }
    #contact-2 .register-my-interest .title {
        padding-top: 30px;
    }
    #features .sidebar.right {
        margin-top: 0;
    }
    #features .sidebar.left {
        margin-top: 30px;
    }
    #features .main ul {
        text-align: left;
        padding-left: 30px;
        margin: 0 auto;
    }
    #features .house-feature > div {
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        left: 50%;
        display: inline-block;
        position: relative;
    }
    #features .house-feature ul:last-child {
        padding-left: 30px;
        margin: 0;
        padding-top: 0;
    }
    .modal-content {}
    .modal-content img {
        width: 100%;
    }
    .modal-body .close {
        width: 30px;
        height: 30px;
        right: 5px;
        top: 5px;
    }
    #auction .table td {
        padding-right: 0;
    }
    #auction .table .auction {
        display: none;
    }
    #auction .table td:last-child {
        padding-left: 14px;
    }
    #auction .table .add-btn {
        width: 28px;
    }
    #auction .table .label {
        padding: 0;
    }
    #editTools {
        display: none;
    }
    .welcome h1 {
        font-size: 32px;
        line-height: 1.2;
        letter-spacing: 5px;
    }
    .welcome {
        width: 100%;
    }
    #home .feature-list {
        width: 95%;
        height: 33px;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        display: -webkit-flex;
        /* Safari */
        -webkit-justify-content: space-around;
        /* Safari 6.1+ */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
    }
    #home .feature-list li:first-child,
    #home .feature-list li:last-child {
        margin-top: 10px;
    }
    #features #secondary-nav.sticky .logo {
        display: block;
        font-size: 15px;
        line-height: 1.2;
        letter-spacing: 4.2px;
        text-align: center;
        margin: 0;
        line-height: 60px;
    }
    .feature-list li {
        width: auto;
    }
    .feature-list .num {
        font-size: 22px;
        letter-spacing: 9.2px;
    }
    .feature-list .icon {
        font-size: 20px;
        margin-bottom: 0;
    }
    .feature-list .icon-bathtub {
        font-size: 30px;
        margin-bottom: 0;
    }
    .feature-list .name {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    #map{
        height: 240px;
    }
    .scroll-explore {}
    .scroll-explore .logo {
        height: 26px;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .scroll-explore .icon {
        font-size: 17px;
    }
    .scroll-explore {
        bottom: 5px;
    }
    .welcome h3 {
        margin-bottom: 12px;
        font-size: 12px;
    }
}


/* Landscape */

@media only screen and (max-device-width: 736px) and (orientation: landscape) {
    .scroll-explore .logo, .scroll-explore h3{
        display: none!important;
    }
    nav a.logo {
        margin-top: 12px;
    }
    #primary-nav {
        height: 100px;
    }
    nav .register {
        top: 41px;
    }
    #features .sidebar li {
        margin-bottom: 30px;
    }
    #features .sidebar {
        margin-top: 30px;
    }
    #features .house-feature ul:last-child {
        padding-left: 0;
    }
    .welcome h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .feature-list .name {
        display: none;
    }
    .scroll-explore .logo {
        height: 20px;
        display: block;
        margin: 0 auto;
    }
    .scroll-explore .icon {
        font-size: 17px;
        margin-top: 10px;
    }
    .welcome h3 {
        margin-bottom: 5px;
    }
}

/*iphone 5*/
@media only screen and (max-device-width: 568px) and (orientation: landscape) {
    .welcome h1{
        font-size: 30px;
    }
}
