/*---------------------------------*
 * Color
 *--------------------------------/
/**
 * Feature colour 0: black;
 */

.theme-color-0 nav a.logo,

/* .theme-color-0 .welcome h3, */


/* .theme-color-0 .feature-list .icon, */


/* .theme-color-0 .scroll-explore h3, */

.theme-color-0 .section-title,
.theme-color-0 #features .sidebar .icon,
.theme-color-0 #features .house-feature h4,
.theme-color-0 .location-features .icon,
.theme-color-0 #auction .table .icon,
.theme-color-0 #auction .table .auction,
.theme-color-0 #agent .icon,
.theme-color-0 #agent .quote,
.theme-color-0 nav li a.active,
.theme-color-0 nav li a:hover,
.theme-color-0 #contact-2 .register-my-interest .title,
.theme-color-0 #contact .socials .icon{
    color: #000000;
}

.theme-color-0 nav .register,
.theme-color-0 #gallery-next,
.theme-color-0 #gallery-prev,
.theme-color-0 .register-my-interest button {
    background: #000000;
    color: white;
}


/**
 * Feature colour 1: #C98C49;
 */

.theme-color-1 nav a.logo,
.theme-color-1 .welcome h3,
.theme-color-1 .feature-list .icon,
.theme-color-1 .scroll-explore h3,
.theme-color-1 .section-title,
.theme-color-1 #features .sidebar .icon,
.theme-color-1 #features .house-feature h4,
.theme-color-1 .location-features .icon,
.theme-color-1 #auction .table .icon,
.theme-color-1 #auction .table .auction,
.theme-color-1 #agent .icon,
.theme-color-1 #agent .quote,
.theme-color-1 nav li a.active,
.theme-color-1 nav li a:hover,
.theme-color-1 #contact-1 ul .icon,
.theme-color-1 #contact-1 ul h4,
.theme-color-1 #contact-2 .register-my-interest .title,
.theme-color-1 #contact-3 .title,
.theme-color-1 #contact .socials .icon,
.theme-color-1 #back2Top span {
    color: #C98C49;
}

.theme-color-1 nav .register,
.theme-color-1 #gallery-next,
.theme-color-1 #gallery-prev,
.theme-color-1 .register-my-interest button {
    background: #C98C49;
    color: white;
}


/**
 * Feature colour 2: #FFFFFF;
 */

.theme-color-2 nav a.logo,
.theme-color-2 .welcome h3,
.theme-color-2 .feature-list .icon,
.theme-color-2 .scroll-explore h3,
.theme-color-2 .section-title,
.theme-color-2 #features .sidebar .icon,
.theme-color-2 #features .house-feature h4,
.theme-color-2 .location-features .icon,
.theme-color-2 #auction .table .icon,
.theme-color-2 #auction .table .auction,
.theme-color-2 #agent .icon,
.theme-color-2 #agent .quote,
.theme-color-2 nav li a.active,
.theme-color-2 nav li a:hover,
.theme-color-2 #contact-1 ul .icon,
.theme-color-2 #contact-1 ul h4,
.theme-color-2 #contact-2 .register-my-interest .title,
.theme-color-2 #contact-3 .title,
.theme-color-2 #contact .socials .icon,
.theme-color-2 #back2Top span {
    color: #FFFFFF;
}
.theme-color-2 #wrapper nav .register:hover {
    color: black;
}
.theme-color-2 #gallery-next,
.theme-color-2 #gallery-prev{
    background: #FFFFFF;
    color: black;
}


.theme-color-2 nav .register, .theme-color-2 #mobile-nav .register {
    background: #FFFFFF;
    color: black;
}

.theme-bg-2 .hamburger {
    color: white;
}


/**
 * Feature colour 3: #75B2CE;
 */

.theme-color-3 nav a.logo,
.theme-color-3 .welcome h3,
.theme-color-3 .feature-list .icon,
.theme-color-3 .scroll-explore h3,
.theme-color-3 .section-title,
.theme-color-3 #features .sidebar .icon,
.theme-color-3 #features .house-feature h4,
.theme-color-3 .location-features .icon,
.theme-color-3 #auction .table .icon,
.theme-color-3 #auction .table .auction,
.theme-color-3 #agent .icon,
.theme-color-3 #agent .quote,
.theme-color-3 nav li a.active,
.theme-color-3 nav li a:hover,
.theme-color-3 #contact-1 ul .icon,
.theme-color-3 #contact-1 ul h4,
.theme-color-3 #contact-2 .register-my-interest .title,
.theme-color-3 #contact-3 .title,
.theme-color-3 #contact .socials .icon,
.theme-color-3 #back2Top span {
    color: #75B2CE;
}

.theme-color-3 nav .register,
.theme-color-3 #gallery-next,
.theme-color-3 #gallery-prev,
.theme-color-3 .register-my-interest button {
    background: #75B2CE;
    color: white;
}


/**
 * Feature colour 4: #E4C1B0;
 */

.theme-color-4 nav a.logo,
.theme-color-4 .welcome h3,
.theme-color-4 .feature-list .icon,
.theme-color-4 .scroll-explore h3,
.theme-color-4 .section-title,
.theme-color-4 #features .sidebar .icon,
.theme-color-4 #features .house-feature h4,
.theme-color-4 .location-features .icon,
.theme-color-4 #auction .table .icon,
.theme-color-4 #auction .table .auction,
.theme-color-4 #agent .icon,
.theme-color-4 #agent .quote,
.theme-color-4 nav li a.active,
.theme-color-4 nav li a:hover,
.theme-color-4 #contact-1 ul .icon,
.theme-color-4 #contact-1 ul h4,
.theme-color-4 #contact-2 .register-my-interest .title,
.theme-color-4 #contact-3 .title,
.theme-color-4 #contact .socials .icon,
.theme-color-4 #back2Top span {
    color: #E4C1B0;
}

.theme-color-4 nav .register,
.theme-color-4 #gallery-next,
.theme-color-4 #gallery-prev,
.theme-color-4 .register-my-interest button {
    background: #E4C1B0;
    color: white;
}


/*---------------------------------*
 * Background
 *--------------------------------/
/**
 * Background colour 1: white;
 */

.theme-bg-1 #secondary-nav,
.theme-bg-1 #primary-nav {
    color: black;
    background: white;
}
.theme-bg-1 #secondary-nav .hamburger,
.theme-bg-1 #primary-nav .hamburger{
    color: black;
}


/**
 * Background colour 2: black;
 */

.theme-bg-2.theme-color-2 #secondary-nav .register,
.theme-bg-2.theme-color-2 #contact-2 .register-my-interest .title {
    color: black;
}

.theme-bg-2 #secondary-nav,
.theme-bg-2 #primary-nav {
    color: white;
    background: black;
}

.theme-bg-2 #secondary-nav {
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.21);
}

.theme-bg-2 #secondary-nav .hamburger {
    color: white;
}

.theme-bg-2 #features,
.theme-bg-2 #location,
.theme-bg-2 #auction {
    background: black;
    color: white;
}

.theme-bg-2 #agent {
    background: #333333;
    color: white;
}

.theme-bg-2 #features .sidebar .title {
    color: white;
}

.theme-bg-2 #auction .table td {
    color: white;
}
