@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?j5grwg');
    src:    url('fonts/icomoon.eot?j5grwg#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?j5grwg') format('truetype'),
        url('fonts/icomoon.woff?j5grwg') format('woff'),
        url('fonts/icomoon.svg?j5grwg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-hamburger:before {
    content: "\e914";
}
.icon-arrowdown:before {
    content: "\e900";
}
.icon-arrowleft:before {
    content: "\e901";
}
.icon-arrowright:before {
    content: "\e902";
}
.icon-arrowup:before {
    content: "\e903";
}
.icon-bathtub:before {
    content: "\e904";
}
.icon-bed:before {
    content: "\e905";
}
.icon-book:before {
    content: "\e906";
}
.icon-calendar:before {
    content: "\e907";
}
.icon-car:before {
    content: "\e908";
}
.icon-council:before {
    content: "\e909";
}
.icon-document:before {
    content: "\e90a";
}
.icon-email:before {
    content: "\e90b";
}
.icon-floorplans:before {
    content: "\e90c";
}
.icon-marker:before {
    content: "\e90d";
}
.icon-pencil:before {
    content: "\e90e";
}
.icon-phone:before {
    content: "\e90f";
}
.icon-ruler:before {
    content: "\e910";
}
.icon-shop:before {
    content: "\e911";
}
.icon-transport:before {
    content: "\e912";
}
.icon-waterdrop:before {
    content: "\e913";
}

